Flask>=3.0.0
python-dotenv>=1.0.1
gunicorn>=21.2.0

openai>=2.0.0

pandas>=2.2.2
numpy>=1.26.4
openpyxl>=3.1.5

textX>=4.0.0
ordered-set>=4.1.0
networkx>=3.3
antlr4-python3-runtime>=4.13.2
z3-solver>=4.13.3.0
pysmt>=0.9.6

sentence-transformers>=3.0.1
transformers>=4.44.2
torch>=2.2.0

spacy>=3.7.6
nltk>=3.9.1
scikit-learn>=1.5.1

requests>=2.32.0
tqdm>=4.66.5
termcolor>=2.4.0

PyPDF2>=3.0.1
pymupdf>=1.24.10